@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.App{
    min-height: 100vh;
    display: flex;
    font-family: 'Permanent Marker', cursive;
    background-image:url("./assets/25861932_yellow_geometric_circular_shape_background.jpg");
    background-size: cover;
    background-position: center;

}
